/*
 * CSS for PiBox Web UI
 */

/*
 * =========================================================================================
 * HTML elements
 * =========================================================================================
 */
html { 
    height: 100%;
}

body { 
    width:100%;
    min-height: 100%;
    margin:0; 
    padding:0; 
    background:#000;
    color:white;
    font-family:serif;
}

a         { outline:none; }
a:link    { font-size:1.0em; color:white; text-decoration:none; outline:none; }
a:visited { font-size:1.0em; color:white; text-decoration:none; outline:none; }
a:hover   { font-size:1.0em; color:#781351; text-decoration:none; outline:none; }
a:active  { font-size:1.0em; color:#781351; text-decoration:none; outline:none; }
ul        { margin:0px; padding:4px; }
li        { list-style-type: none; padding: 2px; }

/* Force images to be centered by default */
img.centered {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

/*
 * =========================================================================================
 * Positioning and sizing DIV elements
 * =========================================================================================
 */

/* Top level wrapper takes up the entire window. */
#wrapper {
    height: auto !important; /* ie6 ignores !important, so this will be overridden below */
    min-height: 100%; /* ie6 ignores min-height completely */
    height: 100%;
}

#ipv4Tab select        { width: 100%; }
#ipv4Tab input         { width: 100%; }
#wirelessTab select    { width: 100%; }
#wirelessTab input[type=text],input[type=password] { width: 100%; }
#accessPointTab select { width: 100%; }
#accessPointTab input[type=text],input[type=password] { width: 100%; }
#IFEnabled input       { width: 10%;  } 

/*
 * =========================================================================================
 * Front page styling
 * =========================================================================================
 */

/* Center the block used for the main menu */
#banner {
    position: absolute;
    width: 600px;
    height: 200px;
    left: 0;
    right: 0;
    margin: auto;
    // border: 1px solid #555;
}
#banner h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 6em;
    text-align: center;
    text-shadow: 2px 3px 5px #eedac7;
    text-transform: uppercase;
    letter-spacing: .25em;
    color: #cb7929;
}

/* Center the block used for the main menu */
#frontPage {
    position: absolute;
    width: 380px;
    height: 124px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    // border: 1px solid #555;
}

/* Style the main menu */
#frontPage ul.mainMenu {
    display: inline-block;
    margin-left: auto;
    margin-top: auto;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
#frontPage ul.mainMenu li {
    list-style: none;
    float: left; 
    color: #fff;
    font-size: 1.05em;
    font-weight: bold;
    text-shadow: 1px 1px #333;
}

/*
 * The text-indent for the icons hides the text.
 * The PNG is actually two images of the same size,
 * The main one over the highlight.
 * The background size vs height and the position
 * in the hover is what allows us to change the icon
 * image to the alternate image in the PNG.
 */

/* Webcam Icon */
#webcamIcon {
    display: block;
    width: 120px;
    height: 120px;
    background: url('/images/Webcam.png') bottom;
    background-size: 120px 240px;
    background-repeat: no-repeat;
    text-indent: -99999px;
}
#webcamIcon:hover {
    background-position: 0 0px;
}

/* Settings Icon */
#settingsIcon {
    display: block;
    width: 120px;
    height: 120px;
    background: url('/images/Wifi.png') bottom;
    background-size: 120px 240px;
    background-repeat: no-repeat;
    text-indent: -99999px;
}
#settingsIcon:hover {
    background-position: 0 0px;
}
/* Users Icon */
#usersIcon {
    display: block;
    width: 120px;
    height: 120px;
    background: url('/images/users.png') bottom;
    background-size: 120px 240px;
    background-repeat: no-repeat;
    text-indent: -99999px;
}
#usersIcon:hover {
    background-position: 0 0px;
}

/*
 * =========================================================================================
 * Webcam Video Player
 * =========================================================================================
 */

/* Position the video player and menu container */
#video-container {
    position: absolute;
    width: 640px;
    height: 500px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/* 
 * Two classes for the player container.
 * One is normal, the other is flipped.
 * Javascript takes care of applying the correct one.
 */
.video-normal {
    position: relative;
    width: 640px;
    height: 480px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-left: 1px solid #555;
    border-top: 1px solid #555;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background-color: black;
}
.video-flipped {
    position: relative;
    width: 640px;
    height: 480px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-left: 1px solid #555;
    border-bottom: 1px solid #555;
    border-right: 1px solid #999;
    border-top: 1px solid #999;
    background-color: black;
    transform:rotateX(180deg);     
    -ms-transform:rotateX(180deg); /* IE 9 */      
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}

/* Style the image in the video player */
#video-img {
    position: relative;
    width: 640px;
    height: 480px;
    margin: auto;
}

/* Position the container for the video menu */
#video-menu {
    position: relative;
    width: 640px;
    height: 20px;
}

#video-player { 
    padding: 10px;
    marging: 10px;
    border-radius: 14px;
    border: 2px solid #3e779d;
}

/*
 * =========================================================================================
 * Settings Page
 * =========================================================================================
 */

/* Center the block */
#settingsPage {
    position: absolute;
    width: 600px;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 14px;
    border: 2px solid #3e779d;
}
#settingsPage .idTabs {          
    margin-left:    0px;                                       
    margin-right:   0px;                                       
    margin-top:     -1px;                                      
    margin-bottom:  2px;                                     
    width:          600px;              
    height:         1.8em;                          
    padding:        0px;                   
}                                
#settingsPage ul#tabs {           
    list-style:   none;         
    height:       1.2em;            
}   
#settingsPage ul#tabs li {
    list-style: none;
    float: left; 
    margin-left: 2px;
    padding-left: 9px;
    padding-right: 9px;
    color: #fff;
    background-color: #555;
    font-size: 1.05em;
    font-weight: bold;
    text-shadow: 1px 1px #333;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
#settingsPage table {
    width: 580px;
    margin-left: 10px;
}
#settingsPage table td {
    width: 50%;
    font-size: 1.25em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
}
#settingsPage #ipv4Tab {
    position:relative;
    margin-top:   0px;
    margin-left:  2px;
    margin-right: 2px;
}

/* Centered button bar */
#buttonBar{
    position: absolute;
    width: 600px;
    height: 2em;
    top: 450px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    padding: 0px;
}
.navButton {
   float: right;
   margin-left: 2px;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   -webkit-border-radius: 28px;
   -moz-border-radius: 28px;
   border-radius: 12px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 1.025em;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}
.navButton:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   margin-left: 2px;
}
.navButton:active {
   border-top-color: #1b435e;
   background: #1b435e;
   margin-left: 2px;
}

/* Network Mode box */
#netType {
   position: absolute;
   width: 340px;
   height: 2em;
   top: 450px;
   bottom: 0;
   left: -260px;
   right: 0;
   margin: auto;
   display: inline-block;
   padding: 0px;
}

/* Pop up dialog */
.ui-dialog {
    display: block;
}
.ui-dialog-titlebar {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: Yellow;
    color: black;
    text-align: center;
    text-transform: uppercase;
}
.ui-dialog-titlebar .ui-button {
    position: absolute;
    right: 2;
    bottom: 2;
    border-radius: 7px;
}
#dialog {
    border: 1px solid Yellow;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background: Silver;
    color: black;
    text-align: center;
    letter-spacing: .075em;
}

/*
 * =========================================================================================
 * Testing
 * =========================================================================================
 */

